<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxHVG3azKFFXIpJyQAEoAyBupoM0IR6J4</string>
	<key>GCM_SENDER_ID</key>
	<string>950734323122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.withUs</string>
	<key>PROJECT_ID</key>
	<string>withus-1cc66</string>
	<key>STORAGE_BUCKET</key>
	<string>withus-1cc66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950734323122:ios:8662a22fff73a9aa81b8ab</string>
</dict>
</plist>